{% extends 'base.html' %}
{% block title %}Company{% endblock title %}
{% block companyactive %}active{% endblock companyactive %}
{% block body %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<img src="/static/ABC1.jpg" class="d-block w-100 " alt="...">
	</div>
</div>
<body>
	<!-- about section start -->
	<section class="about" id="about">
		<div class="max-width">
			<!-- <h2 class="title">Why Our Company</h2> -->
			<div class="about-content">
				<div class="column left">
					<img src="/static/lk.jpg" alt="center img">
				</div>
				<div class="column right">
					<div class="text">About Our Company<span class="typing-2"></span></div>
					<p>Cybex Technology is a rapidly growing custom development and software outsourcing company</p>
					<p>Specifically, our company specializes in custom programming, database design, and client-server 
						as well as internet/intranet software application development
					</p>
					<p>Over the years, we have built a solid team of software outsourcing professionals from diverse 
						backgrounds, expanding the creative potential of the company
					</p>
					<p>Their expertise encompasses a wide range of custom programming skills involving the latest and most 
						effective development technologies, such as .NET (ASP.NET, C#, VB.NET), JAVA, Python, XML, and J2EE
					</p>
				</div>
			</div>
            
		</div>
	</section>
	<section class="about" id="about">
		<div class="max-width">
			<!-- <h2 class="title">Why Our Company</h2> -->
			<div class="about-content">
				<div class="column left">
					<img src="/static/uy.jpg" alt="center img">
				</div>
				<div class="column right">
					<div class="text">WHY OUR COMPANY<span class="typing-2"></span></div>
					<p>We recognize the need to help our customers meet the challenges and demands of implementing
						software solutions and can leverage our customer’s investment by recognizing the need and
						benefit of developing software tools that will increase productivity and maintain the
						quality of the software solution
					</p>
					<p>Cybex's expertise and experience in software tool development enable us to adopt a prototyping 
						approach in designing and developing software solutions for various services
					</p>
					<p>This approach has proven successful in reducing communication confusion, clarifying requirements, 
						and fostering collaboration on user interface design
					</p>
					<p>We believe that our years of expertise in tool development enable Cybex Technology to deliver 
						quality software services globally. Cybex Technology’s software services encompass software 
						development, system integration, consulting, and outsourcing projects
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="services" id="services">
		<div class="max-width">
			<!-- <h2 class="title">My services</h2> -->
			<div class="serv-content">
				<div class="card">
					<div class="box">
						<div class="text">Mission</div>
						<p>Excelling in software services with integrity and transparency</p>
					</div>
				</div>
				<div class="card">
					<div class="box">
						<div class="text">Vision</div>
						<p>Achieving shared profitability through innovation and cost-effective solutions</p>
					</div>
				</div>
				<div class="card">
					<div class="box">
						<div class="text">History</div>
						<p>Emerging as India's foremost and trusted software development firm</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
</body>
{% endblock body %}