{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}
{% block body %}
<!-- <script src="/static/script.js"></script> -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/static/mm.gif" class="d-block w-100 h-100" alt="...">
		</div>
	</div>
</div>
<body>
	
	<section class="about" id="about">
		<div class="container">
			<div class="row justify-content-center">
				<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="/static/mt.jpg" class="d-block w-100 h-100" alt="...">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="max-width">
			<!-- <h2 class="title">Why Our Company</h2> -->
			<div class="about-content">
				<div class="column left">
					<img src="/static/wc.jpg" alt="center img">
				</div>
				<div class="column right">
					<P1 class="text"><b>WHO WE ARE</b></h1><br></P1>
					<p>We are a solution provider for industries, delivering revolutionary technology solutions for digitally transforming businesses.<br>With innovation at our core, we elevate productivity to the next level</p>
					
                    <P1 class="text"><b>Digital Twin</b></h1><br></P1>
					<p>We develop Digital Twin solutions for the automotive, manufacturing, and other process industries in creating a behavioral replica of a design and process</p>
					<p>Our solutions enable real-time optimization, decision-making, preventive and anomaly detection, fostering operational excellence
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="about" id="about">
		<div class="max-width">
			<!-- <h2 class="title">Why Our Company</h2> -->
			<div class="about-content">
				<div class="column left">
					<img src="/static/drd.webp" alt="center img">
				</div>
				<div class="column right">
					<P1 class="text"><b>Data-Driven CAE</b></h1><br></P1>
					<p>We offer Data-Driven CAE solutions for Automotive OEMs in vehicle design and development</p>
					<p>Our enhanced design process empowers CAD/CAE engineers in decision-making, reducing the design cycle and costs by 50% compared to traditional approaches</p><br>
                    <P1 class="text"><b>Cloud Digital</b></h1><br></P1>
					<p>We identify suitable Cloud Architectures for your business needs, leveraging our domain expertise and technology experience to develop cloud-based and cloud-native applications</p>
					<p>cloud solutions ensure a high level of scalability and performance, meeting your ever-growing business demands</p>
					


				</div>
			</div>
		</div>
	</section>
</body>
{% endblock body %}