{% extends 'base.html' %}
{% block title %}Service{% endblock title %}
{% block serviceactive %}active{% endblock serviceactive %}
{% block body %}
<main class='' role="main">

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/Services.png" class="d-block w-100" alt="...">
            </div>
        </div>
    </div>
    <div class="album bg-light">
        <div class="album text-center ">
            <section class="jumbotron text-center">
                <div class="container">
                    <p1>Services</p1>
                    <br>
                    <style>
                        h1 {
                            text-align: center;
                            text-transform: uppercase;

                        }

                        p1 {
                            font-weight: bold;
                            font-size: 60px;
                        }
                    </style>

                    <p class="lead">
                        Cybex Technology is a rapidly growing custom development and software outsourcing company<br>
                        We specialize in the development of custom software applications and offer offshore software
                        outsourcing services<br>
                        Our expertise lies in custom programming, database design, and client-server software
                        application developmen
                    </p>
                </div>
            </section>
        </div>
        <div class="container">
            <br>
            <div class="row">
                <style>
                    /* Add CSS styles for the card-text class */
                    .card-text {
                        text-align: justify;
                    }
                </style>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/n.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">Web development is a broad term for
                                the work involved in developing a web site for the Internet (World Wide Web) or an
                                intranet (a
                                private network)
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Web Development</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/ss.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">CYBEX, as a provider of premier web design and development
                                services, c
                                omprehends the unique website requirements of clients and strives to deliver tranquility
                                to customers
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Web Design</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/x.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">E-commerce is a type of business model, or segment of a larger
                                business model, that enables a firm or individual to the conduct business over an
                                e-network
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Ecommerce</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/soft.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">Process of the computer programming, documenting, testing, and bug
                                fixing
                                involved in creating and maintaining applications
                                and frameworks resulting in a software product
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Software Development</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/dgm.png" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">The marketing of products
                                or services using digital technologies, mainly on the Internet, but also including
                                mobile phones, display advertising, and any other digital medium
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Digital Marketing</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/sot.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">Software maintenance in software engineering is the modification of
                                a software
                                product after delivery to the correct faults, and to improve performance or other
                                product
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Support & Maintanance</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/erp.png" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">We builds custom ERP software solutions that take care of your
                                project's end-to-end requirements, from understanding business needs to offering
                                post-deployment support</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">ERP Services</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/dss.png" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">We excel in seamless integration, specializing in data storage,
                                strategic management, & reliable support. We optimize your data framework for
                                operational efficiency & success</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">Data Storage And Management</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img src="/static/hr.jpg" width="350" height="250">
                        <div class="card-body">
                            <p class="card-text">We optimize current online presence by seamlessly integrating expertise
                                into
                                your product, ensuring sustained excellence through strategic solutions, reliable
                                support</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                </div>
                                <small class="text-primary">IT Consulting</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="services" id="services">
            <div class="max-width">
                <h2 class="title">Our services</h2>
                <div class="serv-content">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-heartbeat"></i>
                            <div class="text">Healthcare</div>
                            <p>Build Healthcare Solutions To Help Health Systems, Hospitals,
                                Clinics, And
                                Other Providers To Improve Patient Care, Balance Costs, and Secure PHI
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-shopping-cart"></i>
                            <div class="text">Retail & ECommerce</div>
                            <p>Build brand new eCommerce apps/stores leveraging a wide range of
                                technologies
                                to help you craft your ideal eCommerce experience
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-bank"></i>
                            <div class="text">Banking Services</div>
                            <p>Boast's app development teams, led by experts, specialize in crafting finance-integrated
                                business solutions tailored to meet client requirements
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="max-width">
                <div class="serv-content">
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-wrench"></i>
                            <div class="text">Automative</div>
                            <p>To Offer Innovative, Customized, Unique, And Reliable
                                Automotive Software
                                Development Services To Our Clients Across All Geographical Boundaries.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-graduation-cap"></i>
                            <div class="text">Education-Elearning</div>
                            <p>ELearning App Development Teams Who Are Experts In Building
                                Business Solutions
                                For Startups, Agencies, Product Companies, And Enterprises.
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="box">
                            <i class="fa fa-suitcase"></i>
                            <div class="text">Travel & Hostpitality</div>
                            <p>Our Travel App Development Teams Are Experts In Building Tours
                                And Travel Software Solutions According to The Client Requirements.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

    </div>
    </section>
</main>
{% endblock body %}